@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <HeadOutlet @rendermode="RenderModeSelection" />
    <link href="app.css" rel="stylesheet" />
</head>

<body>
    <Routes @rendermode="RenderModeSelection" />
    <script src="_framework/blazor.web.js"></script>
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>


    <script>
        window.perf = window.perf || {};

        window.perf.markReady = () => {
        window.perf.ready = performance.now();

        const nav = performance.getEntriesByType("navigation")[0];
        const start = nav ? nav.requestStart : 0;

        console.log("=== PERFORMANCE ===");
        console.log("ready:", (window.perf.ready - start)/1000 + " s");
        };
    </script>

</body>

</html>


@code {
    private IComponentRenderMode RenderModeSelection
    {
        get
        {
            var prerender = Configuration.GetValue<bool>("BlazorPrerender");
            return Configuration["BlazorRenderMode"] switch
            {
                "Server" => new InteractiveServerRenderMode(prerender),
                "WebAssembly" => new InteractiveWebAssemblyRenderMode(prerender),
                "Auto" => new InteractiveAutoRenderMode(prerender),
                _ => new InteractiveAutoRenderMode(prerender)
            };
        }
    }
}